.cardContent {
  min-width: 258px;
  min-height: 124px;
  display: flex;
  align-items: center;
  background-color: $bgdCard;
  margin-bottom: 39px;
  &__icone {
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 0 0 0 32px;
    border-radius: 6px;
    &--red {
      background-color: $colorPrimaryLessOpacity;
    }
    &--blue {
      background-color: $colorBlueLessOpacity;
    }
    &--yellow {
      background-color: $colorYellowLessOpacity;
    }
    &--pink {
      background-color: $colorPinkLessOpacity;
    }
    &__img {
      width: 100%;
    }
  }
  &__infos {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 30px;

    &__number {
      font-size: 20px;
      font-weight: 700;
    }
    &__name {
      display: block;
      font-size: 14px;
      color: $colorGrey;
      margin-top: 5px;
    }
  }
}
