.lineChart {
  background-color: $colorPrimary;
  width: 30%;
  height: 263px;
  border-radius: 5px;
  position: relative;
  // padding: 10px;
  &__title {
    max-width: 50%;
    font-size: 15px;
    padding: 29px 0 0 34px;
    color: white;
    opacity: 0.6;
    font-weight: 500;
  }
  &__responsiveContainer {
    position: absolute;
    top: 0;
    // bottom: 0;
  }
  &__weekDaysTicks {
    width: 100%;
    display: flex;
    // justify-content: center;
    &__ul {
      width: 100%;
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      color: white;
      opacity: 0.5;
      position: absolute;
      bottom: 0;
      margin: 20px 0;
      font-size: 12px;
    }
  }
}
.custom-Linetooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 25px;
  background: white;
  border: 1.5px rgba(0, 0, 0, 0.281) solid;
  &__minutes {
    color: black;
    font-size: 10.5px;
    font-weight: 600;
  }
}
