.verticalLayout {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  max-width: 117px;
  height: 100vh;
  background-color: $bgdColor;
  width: 10%;
  &__ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__copyRights {
    display: block;
    color: white;
    transform: rotate(-90deg);
    font-size: 12px;
    width: 120%;
    position: relative;
    bottom: 5%;
  }
}
