/*
1 Utils
2 Vendors
3 Base
4 Components
5 Layout
6 Pages
7 Theme

*/
.test {
  background-color: #ff0101;
  width: 30%;
  height: 263px;
  border-radius: 5px;
  position: relative;
}

.test0 {
  position: absolute;
  top: 0;
}

.test01 {
  color: black;
  background-color: white;
}

.test00 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.test02 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  color: white;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  margin-bottom: 12px;
  font-size: 12px;
}

.lineChart__title {
  max-width: 50%;
  font-size: 15px;
  padding: 29px 0 0 34px;
  color: white;
  opacity: 0.6;
  font-weight: 500;
}

.radarChart {
  background-color: #282d30;
  width: 30%;
  height: 263px;
}

.charts {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.radial {
  position: relative;
  background-color: #fbfbfb;
  width: 30%;
  height: 263px;
}

@font-face {
  font-family: "robotoregular";
  src: url("../../asset/font/roboto-regular-webfont.woff2") format("woff2"), url("../../asset/font/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

* {
  margin: 0;
  padding: 0;
  font-family: "robotoregular";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #020203;
  padding: 19px 29px;
}
.header__imgContent {
  width: 178px;
}
.header__imgContent__img {
  display: block;
  width: 100%;
}
.header__nav {
  display: flex;
  align-items: center;
  width: 80%;
}
.header__nav__ul {
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
.header__nav__ul__li {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 24px;
  cursor: not-allowed;
}
.header__nav__ul__li--link {
  cursor: pointer;
}

.iconesContent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 64px;
  height: 64px;
  border-radius: 6px;
  margin: 10px 0;
}
.iconesContent__icones {
  cursor: not-allowed;
  height: fit-content;
}

.verticalLayout {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  max-width: 117px;
  background-color: #020203;
  width: 10%;
}
.verticalLayout__ul {
  display: flex;
  flex-direction: column;
}
.verticalLayout__copyRights {
  display: block;
  color: white;
  transform: rotate(-90deg);
  font-size: 12px;
  width: 130%;
  margin: 40px;
  position: relative;
  bottom: 7px;
}

.cardContent {
  min-width: 258px;
  min-height: 124px;
  display: flex;
  align-items: center;
  background-color: #fbfbfb;
  margin-bottom: 39px;
}
.cardContent__icone {
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 0 0 0 32px;
  border-radius: 6px;
}
.cardContent__icone--red {
  background-color: rgba(255, 0, 0, 0.1);
}
.cardContent__icone--blue {
  background-color: rgba(74, 184, 255, 0.1);
}
.cardContent__icone--yellow {
  background-color: rgba(249, 206, 35, 0.1);
}
.cardContent__icone--pink {
  background-color: rgba(253, 81, 129, 0.1);
}
.cardContent__icone__img {
  width: 100%;
}
.cardContent__infos {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 30px;
}
.cardContent__infos__number {
  font-size: 20px;
  font-weight: 700;
}
.cardContent__infos__name {
  display: block;
  font-size: 14px;
  color: #74798c;
  margin-top: 5px;
}

.barChart {
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 90%;
}
.barChart__chartLabel {
  padding: 0 0 65px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.barChart__chartLabel__title {
  font-size: 15px;
  margin-left: 15px;
}
.barChart__chartLabel__legend {
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
}
.barChart__chartLabel__legend__weight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}
.barChart__chartLabel__legend__weight__icon {
  display: block;
  font-size: 0.5rem;
}
.barChart__chartLabel__legend__weight__unit {
  font-size: 14px;
  margin-left: 15px;
  color: #74798c;
}
.barChart__chartLabel__legend__calories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}
.barChart__chartLabel__legend__calories__icon {
  display: block;
  font-size: 0.5rem;
}
.barChart__chartLabel__legend__calories__icon--red {
  color: #e60000;
}
.barChart__chartLabel__legend__calories__unit {
  font-size: 14px;
  margin-left: 15px;
  color: #74798c;
}

.custom-Bartooltip {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e60000;
  margin: 20px;
  color: white;
  width: 39px;
  height: 63px;
  font-size: 0.5rem;
}

.userContent {
  margin: 68px 107px;
  flex: 1;
}
.userContent__mainTitle {
  font-size: 48px;
}
.userContent__mainTitle--color {
  color: #ff0101;
}
.userContent__subTitle {
  font-weight: 400;
  font-size: 18px;
  margin: 20px 0 100px 0;
}
.userContent__performance {
  display: flex;
}
.userContent__performance__BarChart {
  flex: 1;
}

/*# sourceMappingURL=style.css.map */
