.iconesContent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  width: 62px;
  height: 62px;
  border-radius: $mainRadius;
  margin: 10px 0;
  &__icones {
    cursor: not-allowed;
    height: fit-content;
  }
}
