//Colors
$white: white;
$black: black;
$blackWithLessOpacity: rgba(0, 0, 0, 0.281);

$bgdColor: #020203;
$bgdCard: #fbfbfb;

$colorPrimary: #ff0101;
$colorPrimaryLessOpacity: rgba(255, 0, 0, 0.1);
$colorRed01: #e60000;
$colorGrey: #74798c;
$colorGreyLessOpacity: #74798cbb;
$colorBlueLessOpacity: rgba(74, 184, 255, 0.1);
$colorYellowLessOpacity: rgba(249, 206, 35, 0.1);
$colorPinkLessOpacity: rgba(253, 81, 129, 0.1);

//Font-Size
$bigSize: 3rem; //48px
$secondaryBigSize: 1.875rem; //30px
$mediumSize: 1.5rem; //24px
$secondaryMediumSize: 1.375rem; //22px
$smallSize: 1.125rem; //18px
$secondarySmallSize: 1rem; //16px
$XsmallSize: 0.875rem; //14px
$XXsmalSize: 0.5rem; //8px

//radius
$mainRadius: 5px;

//weight
$mainWeight: 500;
$secondaryWeight: 600;
