.homeContent {
  flex: 1;
  margin: 68px 0 0 107px;
  &__mainTitle {
    font-size: $bigSize;
    &__appName {
      color: $colorPrimary;
    }
    &__datasInfos {
      display: block;
      font-size: $XsmallSize;
      color: rgb(99, 99, 99);
      font-weight: $mainWeight;
    }
  }
  &__secondaryTitle {
    margin-top: 20px;
    font-size: $secondaryBigSize;
    font-weight: $mainWeight;
  }
  &__profilesList {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__user12 {
      text-decoration: none;
      margin: 10px 0;
      cursor: pointer;
    }
    &__user18 {
      text-decoration: none;
      cursor: pointer;
    }
  }
  &__switchDatas {
    cursor: pointer;
    margin-top: 20px;
    color: white;
    font-size: $XsmallSize;
    border: none;
    border-radius: $mainRadius;
    padding: 7px;
    background-color: rgb(201, 14, 14);
    border: 2px transparent solid;
    &:hover {
      color: white;
      border: 2px $bgdColor solid;
      transform: scale(1.05);
      transition: 300ms;
      box-shadow: 10px 5px 5px rgba(71, 29, 29, 0.555);
    }
  }
}
