//Colors
$bgdColor: #020203;
$bgdCard: #fbfbfb;

$colorPrimary: #ff0101;
$colorPrimaryLessOpacity: rgba(255, 0, 0, 0.1);
$colorRed01: #e60000;
$colorGrey: #74798c;
$colorBlueLessOpacity: rgba(74, 184, 255, 0.1);
$colorYellowLessOpacity: rgba(249, 206, 35, 0.1);
$colorPinkLessOpacity: rgba(253, 81, 129, 0.1);
//Font-Size
$bigSize: 48px;
$mediumSize: 24px;
$smallSize: 18px;
$XsmallSize: 14px;
$XXsmalSize: 0.5rem;
