// ---
.custom-tooltip {
  background-color: #e60000;
}
.h {
  flex: 1;
}
.h1 {
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
// ---
@font-face {
  font-family: 'robotoregular';
  src: url('../../asset/font/roboto-regular-webfont.woff2') format('woff2'),
    url('../../asset/font/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'robotoregular';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
