@font-face {
  font-family: 'robotoregular';
  src: url('../../asset/font/roboto-regular-webfont.woff2') format('woff2'),
    url('../../asset/font/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
// html {
//   height: 100%;
// }
#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'robotoregular';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
